<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="Password_DB" value="" />
		<add key="Usuario_Login_DB" value="" />
		<add key="BaseDatos" value="" />
		<add key="Servidor" value="DESKTOP-OPFTGAI\CRISTOBAL2019" />
		<add key="DirectorioPicture" value="C:\pictures\" />
		<add key="Timer" value="60000" />
	</appSettings>
</configuration>